.btnform{
	margin-top: 30px;
}
#login
{
    background :url(../images/access/login.jpg) center no-repeat fixed;
    background-size: cover;
    margin-top: -20px;
    
    
}
#login h1 {
	
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}
#login strong { font-weight: 500; }


#login  h1 { color: #fff; }

#login .description {
	margin: 12px 0 10px 0;
}

#login .description p { opacity: 0.7; }


.inner-bg {
    padding: 75px 0 70px 0;
}
.form-box {
	margin-top: 35px;
}
.form-top {
	
	padding: 0 25px 15px 25px;
	background: #fff;
	border-radius: 10px 10px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	border-radius: 0 0 10px 10px;
	
}




.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}
.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: white; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

