		html, body 
			{
				background-color: #6495ED;
			}
		#body
		{
			height: 300px;
		}
		#body #introduce
		{
			margin: 0 auto;
		}
		#body h1
		{
			text-shadow: 2px 2px pink;
			font-family: myFirstFont;
		}
		#body p
		{
			font-family: myFirstFont;
			color: white;
			font-size: 150%;
		}
		#body input
		{
			font-size: 20px;
			padding: 5px;
			border-radius: 8px;
			background-color: #FF1493;
			color: white;
		}
		#body_img #select .option
		{
			margin-left: 5px;
			padding: 10px;
			border: 1px solid white;
			color: white;
			border-radius: 8px;
		}
		#body_img #select .option:hover
		{
			background-color: black;
		}
		#back_body
		{
			margin-top: 30px;
		}
		#back_body .content h1
		{
			font-size: 400%;
			color: white;
		}
		#back_body .content p
		{
			font-size: 200%;
			color: white;
		}
		#back_body .advertisement
		{
			background-color: white;
			width: 350px;
			float: right;
			margin-right: 30px;
			border-radius: 10px;
		}
		#back_body .advertisement h1
		{
			margin-left: 50px;
		}
		#back_body .advertisement ul
		{
			list-style-image: url('../images/homepage/check.jpg');
			margin-left: 50px;
		}
		#back_body .advertisement button
		{
			color: white;
			margin-left: 70px;
			background-color: #FF1493;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 10px;
		}
		#end_body
		{
			margin-top:50px;
			background-color: #FFE4B5;
		}
		#end_body .summary
		{
			text-align: center;
			color: #808080;
		}
		#end_body .summary h1
		{
			color: black;
		}
		#end_body .summary img
		{
			width: 10%;
		}