.table > thead > tr > th {
    vertical-align: middle;
	text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
	text-align: center;
}

.table > tbody > tr > td:nth-child(-n+5) {
    padding-left: 0;
    padding-right: 0;
}

.table > tbody > tr > td > a {
	text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

#page-scroller span {
	cursor: pointer;
}