#temp_body{
    background-image: url("../images/common/temp_bg.png");
}
#temp_name{
    margin-left:10%;
    
}
#content {
	background-image: url("../images/common/temp_bg.png");
}
.cate{
    
    
    border-bottom: none;
}
.cate h3{
    text-align: center;
    
    
}
.cate a{
    text-align: left;
}
.template_container{
    
    border:1px solid #cecece;
    background-color: white;
    margin-bottom: 80px;
	border-top:0px;
}
.upper{
    border-bottom:1px solid #cecece;
}
#path-line {
	background-color: #ededed;
}

.breadcrumb {
	padding: 0;
	height: 40px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	margin-bottom: -5px;
	background-color: #ededed;
	overflow: hidden;
	border-radius: initial;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	line-height: 36px;
	font-size: 150%;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	position: relative;
	background-color: #ededed;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: rgb(127, 127, 127);
	color: rgb(255, 255, 255);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: rgb(127, 127, 127);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*same dimension as the line-height of .breadcrumb a */
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background-color: #ededed;
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(63, 63, 63, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	/*some styles now*/
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 30px;
	font-weight: bold;
}
.temp_name{
    border:1px solid #cecece;
    padding:1% 3%;
    border-right: none;
    border-top: none;
    background-color: #CCCC99;
}
/*.temp_image{
    text-align: center;
    border:1px solid #cecece;
    border-bottom: none;
    border-top: none;
}
.temp_image img{
    margin: auto;
    width: 80%;
    
}*/
#myCarousel{
    margin: 20px;
}
.carousel-caption p{
    color: red;
}
.item{
    max-height: 690px;
    max-width: 590px
    overflow: hidden;
}


.cmt{
	margin-left: 3%;
	border: solid 1px #ddd;
    background: #f3f3f3;
    box-shadow: 1px 1px 2px #eee;
}
.cmt h3{
	margin: 0 10px;
}
.cmt-item{
	margin: 20px 6px;
	background: #fff;
}
.cmt-item em{
	color: #888;
    display: block;
    float: right;
    margin: 5px 10px;
}
.cmt-item strong{
	color: #000;
    display: block;
    float: left;
    margin: 5px 10px;
}
.cmt-item p{
	display: block;
    clear: both;
    font-size: 11pt;
    margin: 0 10px 10px 10px;
    padding: 0;
    text-align: justify;
}
.cmt-thumb {
	padding: 5px 15px;
    border-top: solid 1px #ddd;
    text-align: right;   
}
.cmt-likes{
	padding: 0px 15px;
}
.cmt-dislikes{
	padding: 0px 15px;
}
.page-x{
	text-align: center;
}
.pagination {
    display: inline-block;
   	
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 9px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.commlist form{
    display: block;
    height: 65px;
    overflow: hidden;
    margin: 10px;
    padding: 10px 15px 5px 15px;
    transition: all ease .3s;
}
.commlist label{
	color: #aaa;
    line-height: 24px;
    height: 50px;
    margin: 0 -5px;
    padding: 5px;
    width: 100%;
}
.commlist form label,.commlist form.activ textarea,.commlist form.activ input{
    display:block;
}
.commlist form.activ label, .commlist form textarea,.commlist form input {
    display: none;
}
.commlist form.activ{
    height:155px;
}
.commlist textarea {
    color: #000;
    line-height: 1.2em;
    height: 90px;
    margin: 0 -5px;
    width: 100%;
    margin-bottom: 10px;
}
.commlist input, .commlist label, .commlist textarea {
    background: #fff;
    border: solid 1px #aaa;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    padding: 5px;
}
.cmtBtn{
	border: solid 1px #ccc;
    color: #333;
    float: right;
    font-weight: bold;
    line-height: 28px;
    padding: 0 10px;
    min-width: 90px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}
.glyphicon-heart:hover{
    color:red;
}
.loved{
    color: red;
}
.loved.glyphicon-heart:hover{
    color:black;
}
.suggest{
    margin-bottom: 20px;
}
.suggest h3{
    padding-left: 5%;
}
.sug_image{
    text-align: center;
    
}
.sug_image img{
    margin: auto;
    width: 80%;
    
}
#dl_btn{
    text-align: center;
}
#dl_num{
    text-align: right;
    padding-right: 10%;
}
#star{
    padding-left: 5%;
}
.checked{
    color:orange;
}

.container a{
    text-decoration: underline;
}

*{
    box-sizing: border-box;
}
*{
    border-collapse: collapse;
}

.container{
    background-color:white;
}
#about_body{
    background-color:#f1f1f1;
}
#about_body hr{
    width:97%;
    text-align:center;
    border-color: #EEEEEE;
    border-width: 2px;
}
#about_body h3{
    color:#555555;
}


@media only screen and (min-width: 320px) {	
	
	
	#path-line {
		display: none;
	}

	
}

@media only screen and (min-width: 768px) {
	
	
	#path-line {
		display: block;
	}
	
	
	
	.breadcrumb a {
		font-size: 100%;
		padding: 0 10px 0 40px;
	}
}

@media only screen and (min-width: 992px) {
	.breadcrumb a {
		font-size: 150%;
		padding: 0 10px 0 60px;
	}
	
	
}
#filter-side h3:first-child {
    font-weight: bold;
}

#filter-side div:nth-child(2) {
    font-size: 125%;
    padding: 5px;
}